{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Editor Dashboard{% endblock %}</h1>
{% endblock %}
{% block content %}
  <table>
    <thead>
      <tr><th>Request ID</th><th>Assignment Link</th><th>Document Link</th><th>Time</th><th>Status</th></tr>
    </thead>
    <tbody>
    {% for request in userRequests %}
      <tr>
      {% for item in request[:5] %}
        <td>{{item}}</td>
      {% endfor %}
        <td>
          <form method="post" class="buttonForm">
            <input type="submit" name="updateStatus" value="Update {{request[0]}}">
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}